${DB_HOST} = local
${DB_NAME} = RideShareUTEC
${DB_PORT} = 5433
${DB_USER} = postgres
${DB_PASSWORD} = postgres
${JWT_SECRET} = contraseniaultralargade32caracterescomominimo
${JWT_EXPIRATION_ACCESS} = 3600000


